.authentication-container {
  display: flex;
  width: 980px;
  justify-content: space-between;
  margin: 30px auto;

  @media screen and (max-width: 800px) {
    width: 100%;
    display: block;
    justify-content: center;
    margin: auto;
    padding: 10px;
    align-items: center;
    overflow-x: hidden;
  }
}
