.footer-container {
  display: flex;
  justify-content: center;
  height: 5rem;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(255, 255, 255);
  color: white;
  padding-top: 1rem;

  .copyright-text {
    font-family: "Montserrat";
    font-size: 1rem;
    font-weight: 300;
    color: black;
  }
}
